.ui-image-box {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #f6f6f6;
}
.ui-image-box img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	align-items: center;
}

.ui-md-loading {
	position: fixed;
	top: 0;
	bottom: 1.33333rem;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .1);
}
.ui-md-loading .van-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15Px 0 0 -15Px;
}
.ui-start-wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	z-index: 9999;
}
.ui-start-wrap .ui-start-close {
	position: absolute;
    top: 20Px;
    right: 20Px;
    padding: 0 10Px;
    color: #fff;
    font-size: 12Px;
    line-height: 26Px;
    border-radius: 4Px;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    cursor: pointer;
}

.ui-popupad {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 9998;
}
.ui-popupad .ui-popupad-box {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 2;
}
.ui-popupad .ui-popupad-box img {
	display: block;
	max-width: 100%;
}
.ui-popupad .ui-popupad-box .ui-image-box {
	width: 100%;
	height: 240Px;
	border-radius: 5Px;
	background-color: #f6f6f6;
	overflow: hidden;
}
.ui-popupad .ui-popupad-box .ui-popupad-close {
	margin-top: 20Px;
	display: inline-block;
	color: #fff;
	font-size: 36Px;
	text-align: center;
	cursor: pointer;
}
.ui-popupad .ui-popupad-box .ui-popupad-close i {
	display: block;
}
.ui-popupad .ui-popupad-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	z-index: 1;
}
.ui-md-swipe .van-swipe-item {
	position: relative;
}
.ui-md-swipe .van-swipe-item img {
	display: block;
	width: 100%;
}
.ui-md-swipe .van-swipe-item h4 {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 .4rem;
	line-height: .7rem;
	font-weight: normal;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: rgba(0, 0, 0, .1);
}
.ui-md-swipe .van-swipe__indicators .van-swipe__indicator {
	width: 10Px;
	height: 10Px;
}

.ui-md-tab {
	background-color: #fff;
}
.ui-md-tab .van-tabs {
	padding-top: 1.2rem;
	background-color: transparent;
}
.ui-md-tab .van-tabs .van-tabs__nav--line {
	padding-bottom: 0;
}
.ui-md-tab .van-tabs .van-tabs__line {
	bottom: 0;
}
.ui-md-tab .van-tabs .van-tab {
	font-size: .32rem;
	line-height: 1.2rem;
}
.ui-md-tab .van-tabs .van-hairline--top-bottom::after {
	border-top-width: 0;
	border-bottom-width: 1px;
}

.ui-md-btns {
	background-color: #fff;
	overflow: hidden;
}
.ui-md-btns .ui-md-btns-cell {
	float: left;
	display: inline-block;
	padding: 10Px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.ui-md-btns .ui-md-btns-cell:active, .ui-md-btns .ui-md-btns-cell:hover {
	background-color: #fafafa;
}
.ui-md-btns .cell-3 {
	width: 33.333%;
}
.ui-md-btns .cell-4 {
	width: 25%;
}
.ui-md-btns .cell-5 {
	width: 20%;
}
.ui-md-btns .ui-md-btns-cell .image {
	display: inline-block;
	width: 1rem;
	line-height: 1rem;
}
.ui-md-btns .ui-md-btns-cell .image img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.ui-md-btns .ui-md-btns-cell .title {
	margin-top: 5Px;
}

.ui-md-btn {
	height: auto;
	border: 0;
	font-size: 12Px;
}
.ui-md-btn:active:before {
	background-color: #fff;
	opacity: .1;
}

.ui-md-subline {
	border: 0;
}

.ui-md-atlas .ui-md-atlas-cell {
	text-align: center;
	font-size: 0;
	cursor: pointer;
}
.ui-md-atlas .ui-md-atlas-cell + .ui-md-atlas-cell {
	margin-top: 10Px;
}
.ui-md-atlas .ui-md-atlas-cell img {
	display: inline-block;
	max-width: 100%;
}

.ui-md-search div, .ui-md-search input {
	color: inherit;
}
.ui-md-search.fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-top: 1Px solid #eee;
	z-index: 99;
}
.ui-md-search .van-search {
	padding: 0;
	overflow: hidden;
}
.ui-md-search .van-search .van-search__content {
	padding-left: 0;
	border-radius: 0;
	background-color: transparent;
}
.ui-md-search .van-search .van-cell {
	padding: 0;
	background-color: transparent;
}
.ui-md-search .van-search .van-cell > .van-field__left-icon, .ui-md-search .van-search > .icon {
	position: absolute;
	top: 0;
	right: 10Px;
	margin-right: 0;
	z-index: 1;
}
.ui-md-search .van-search .icon {
	display: block;
	font-size: 20Px;
	line-height: 36Px;
}
.ui-md-search .van-search .van-cell__value {
	z-index: 2;
}
.ui-md-search .van-search .van-cell__value input {
	padding: 8Px 39Px 8Px 10Px;
	width: 100%;
	height: 36Px;
	font-size: 12Px;
	line-height: 20Px;
}
.ui-md-search .van-search .van-cell__value .van-icon {
	right: 38Px;
}

.ui-md-picwindow {
	position: relative;
	background-color: #fff;
	overflow: hidden;
}
.ui-md-picwindow .ui-md-picwindow-cell {
	float: left;
	padding: 3Px;
	font-size: 0;
}
.ui-md-picwindow .ui-md-picwindow-cell .box {
	position: relative;
	height: 100%;
}
.ui-md-picwindow .ui-md-picwindow-cell .box .title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 10Px;
	width: 100%;
	height: 24Px;
	line-height: 24Px;
	font-size: 12Px;
	color: #000;
	background-color: rgba(0, 0, 0, .1);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.ui-md-picwindow.window {
	padding-bottom: 50%;
}
.ui-md-picwindow.window .win-1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
}
.ui-md-picwindow.window .win-2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 50%;
}
.ui-md-picwindow.window .win-3 {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 25%;
	height: 50%;
}
.ui-md-picwindow.window .win-4 {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 50%;
}
.ui-md-picwindow.col .ui-md-picwindow-cell {
	padding: 5px;
}
.ui-md-picwindow.col-2 .ui-md-picwindow-cell {
	width: 50%;
}
.ui-md-picwindow.col-2 .ui-md-picwindow-cell:nth-child(2n+1) {
	clear: left;
}
.ui-md-picwindow.col-3 .ui-md-picwindow-cell {
	width: 33.333%;
}
.ui-md-picwindow.col-4 .ui-md-picwindow-cell {
	width: 25%;
}

.ui-md-title {
	padding: 0 10Px;
	line-height: 42Px;
	font-size: 12Px;
	font-weight: normal;
	color: #333;
	background-color: #fff;
}

.ui-md-notice {
	padding: 10px;
	background-color: #fff;
}
.ui-md-notice .ui-md-notice-body {
	position: relative;
	padding-left: 41Px;
	width: 100%;
	height: 18Px;
}
.ui-md-notice .ui-md-notice-body i {
	position: absolute;
	left: 0;
	top: 0;
	width: 30Px;
	height: 18Px;
	border-right: 1Px solid #828282;
	background: url(../../assets/images/svg/xz-notice.svg) left center no-repeat;
	background-size: auto 100%;
}
.ui-md-notice .ui-md-notice-body .ui-md-notice-content {
	width: 100%;
	height: 100%;
	line-height: 18Px;
	overflow: hidden;
}
.ui-md-notice .ui-md-notice-body .ui-md-notice-content .van-swipe-item {
	font-size: 12Px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui-md-product {
	overflow: hidden;
}
.ui-md-product .ui-md-product-cell {
	position: relative;
	float: left;
	padding: 3Px;
	width: 50%;
}
.ui-md-product .ui-md-product-cell .image {
	position: relative;
	padding-bottom: 100%;
	width: 100%;
	background-color: #f9f6f6;
	overflow: hidden;
	z-index: 1;
}
.ui-md-product .ui-md-product-cell .image .superscript {
	display: block;
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: 12Px;
    background-color: #27bc6e;
    overflow: hidden;
    z-index: 9;
}
.ui-md-product .ui-md-product-cell .image .superscript.style-1, .ui-md-product .ui-md-product-cell .image .superscript.style-4 {
	transform-origin: left bottom;
   	transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.ui-md-product .ui-md-product-cell .image .superscript.style-1 {
    width: 56Px;
	height: 40Px;
	line-height: 62Px;
}
.ui-md-product .ui-md-product-cell .image .superscript.style-2 {
	width: 32Px;
	line-height: 32Px;
	border-radius: 50%;
}
.ui-md-product .ui-md-product-cell .image .superscript.style-3 {
	padding-right: 1Px;
	width: 37Px;
	line-height: 24Px;
}
.ui-md-product .ui-md-product-cell .image .superscript.style-4 {
	top: 23Px;
	width: 60Px;
	line-height: 20Px;
}
.ui-md-product .ui-md-product-cell .image .image-box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.ui-md-product .ui-md-product-cell .content {
	position: relative;
	padding: 5Px 8Px;
	background-color: #fff;
	z-index: 1;
}
.ui-md-product .ui-md-product-cell .content .title {
	font-size: 12Px;
	font-weight: normal;
	line-height: 20Px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ui-md-product .ui-md-product-cell .content .text {
	font-size: 0;
}
.ui-md-product .ui-md-product-cell .content .price {
	display: inline-block;
	width: 50%;
	color: #e4393c;
	font-size: 12Px;
}
.ui-md-product .ui-md-product-cell .content .price b {
	font-size: 16Px;
}
.ui-md-product .ui-md-product-cell .content .sale {
	display: inline-block;
	width: 50%;
	color: #999;
	font-size: 12Px;
	text-align: right;
}

.ui-md-coupon-cells {
	overflow: hidden;
}
.ui-md-coupon-cells .ui-md-coupon-cell {
	float: left;
	position: relative;
	padding: 2Px;
	width: 50%;
	font-size: 12Px;
	overflow: hidden;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body {
	border-radius: 3Px;
	background-color: #fff;
	overflow: hidden;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-box {
	position: relative;
	display: table;
	padding: 10Px;
	width: 100%;
	height: 64Px;
	background-color: #fdf5f0;
	z-index: 1;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-box .table-cell {
	display: table-cell;
	vertical-align: middle;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body:before, .ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 58Px;
	width: 10Px;
	height: 10Px;
	border: 1Px solid #e6e6e6;
	border-radius: 50%;
	background-color: #f3f3f3;
	z-index: 2;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body:before {
	left: -5Px;
	border-right: 1Px solid #e6e6e6;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body:after {
	right: -5Px;
	border-left: 1Px solid #e6e6e6;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body .btn {
	display: inline-block;
	width: 70Px;
	color: #fff;
	line-height: 24Px;
	text-align: center;
	border-radius: 10Px;
	background-color: #ea2727;
	cursor: pointer;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body .number {
	display: inline-block;
	width: 70Px;
	color: #000;
	text-align: center;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body .price {
	display: block;
	font-size: 20Px;
	color: #ea2727;
	font-weight: bold;
	line-height: 1;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body .condition {
	display: block;
	margin-top: 3Px;
	text-indent: 5Px;
	color: #ea2727;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body .desc {
	padding: 5Px 10Px;
	color: #000;
}
.ui-md-coupon-cells .ui-md-coupon-cell .ui-md-coupon-cell-body .desc p {
	height: 32Px;
	line-height: 16Px;
	overflow: hidden; 
	text-overflow: ellipsis;
	display: -webkit-box; 
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell {
	margin-bottom: 6Px;
	padding: 0;
	width: 100%;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell:last-child {
	margin-bottom: 0;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .ui-md-coupon-cell-body {
	display: flex;
	padding: 15Px 0;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .ui-md-coupon-cell-body:before {
	top: -7Px;
	left: 112Px;
	width: 14Px;
	height: 14Px;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .ui-md-coupon-cell-body:after {
	top: auto;
	bottom: -7Px;
	left: 112Px;
	width: 14Px;
	height: 14Px;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .cell1 {
	margin: -15Px 0;
	padding: 15Px;
	width: 120Px;
	white-space: nowrap;
	border-right: 1Px dotted #e6e6e6;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .cell2 {
	flex: 1;
	padding: 0 10Px;
	overflow: hidden;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .cell3 {
	padding: 0 5Px;
	width: 100Px;
	text-align: center;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .price {
	font-size: 28Px;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .number {
	margin-bottom: 7Px;
	text-align: center;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .condition {
	color: #999;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .title {
	font-size: 16Px;
	color: #000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .type {
	display: inline-block;
	margin-top: 10Px;
	padding: 0 4Px;
	color: #1ba2fc;
	border: 1Px solid #1ba2fc;
	line-height: 16Px;
	border-radius: 3Px;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .btn {
	margin-top: 14Px;
}
.ui-md-coupon-cells.lists-style .ui-md-coupon-cell .number + .btn {
	margin-top: 0;
}