body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, hr, thead, tbody, tfoot, th, td {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

body {
  line-height: 1.5;
  font-size: 14px; }

body, button, input, select, textarea {
  font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table th, table td {
  border: 1px solid #ddd;
  padding: 5px; }

table th {
  font-weight: inherit;
  border-bottom-width: 2px;
  border-bottom-color: #ccc; }

img {
  border: 0 none;
  width: auto\9;
  max-width: 100%;
  vertical-align: top;
  height: auto; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input:focus {
  outline: none; }

select[size], select[multiple], select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video, progress {
  display: inline-block; }

body {
  background: #fff; }

input::-webkit-input-speech-button {
  display: none; }

button, input, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  font-family: 'SimSun'; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.ui-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px; }
  .ui-title-box .ui-logo {
    width: 537px;
    height: 80px;
    background: url("../images/logo.jpg") no-repeat 0 0/100% 100%; }
  .ui-title-box .ui-login-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px; }
    .ui-title-box .ui-login-box p {
      padding: 0 15px; }
      .ui-title-box .ui-login-box p a {
        color: #939192;
        cursor: pointer; }
        .ui-title-box .ui-login-box p a:hover {
          color: #333; }

.ui-top-banner {
  display: block;
  width: 100%;
  height: 100px;
  background: url("../images/top-banner.png") no-repeat 0 0/100% 100%; }

.ui-top-nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e81f2f; }
  .ui-top-nav-box .top-nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    font-size: 17px;
    font-family: Microsoft YaHei; }
    .ui-top-nav-box .top-nav-item:hover {
      background: #ff3c0c; }
    .ui-top-nav-box .top-nav-item.on {
      background: #fff;
      color: #e81f2f;
      border-bottom: 1px solid #fcdfe1; }

.ui-left-nav {
  position: relative;
  width: 132px;
  height: 485px;
  border: 1px solid #bbbaba;
  border-radius: 15px;
  margin: 15px 0 10px 0;
  overflow: hidden; }
  .ui-left-nav.on {
    color: #e81f2f; }
  .ui-left-nav .ui-left-title {
    padding: 6px 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #e81f2f; }
  .ui-left-nav .ui-left-nav-box {
    padding: 0 9px; }
    .ui-left-nav .ui-left-nav-box a {
      display: block;
      text-align: center;
      padding: 6px 0;
      border-bottom: 1px solid #c1c1c1;
      color: #000;
      cursor: pointer; }
      .ui-left-nav .ui-left-nav-box a.on {
        color: #e81f2f; }
  .ui-left-nav a.ui-back-index {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 15px;
    display: block;
    background: #d1d0d0;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    padding: 6px 0; }

.ui-right-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 55px 0 0 30px; }

.ui-link-box {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 3px solid #e81f2f; }
  .ui-link-box a {
    color: #7c7575;
    padding: 4px 20px 0 0;
    font-size: 12px; }
    .ui-link-box a:hover {
      color: #333;
      text-decoration: underline; }

.ui-bottom-logo-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 30px 10px 0; }
  .ui-bottom-logo-box i.logo {
    width: 239px;
    height: 29px;
    background: url("../images/bottom-logo.png") no-repeat 0 0/100% 100%; }
  .ui-bottom-logo-box i.qrcode {
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 132px;
    height: 59px;
    background: url("../images/bottom-qrcode.png") no-repeat 0 0/100% 100%; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container.leader .ui-right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 55px 30px 0; }
    .container.leader .ui-right-content .user-info img {
      width: 204px;
      height: 297px;
      margin-bottom: 30px; }
    .container.leader .ui-right-content .user-info p {
      color: #0d0d0d;
      font-size: 18px;
      text-align: center;
      font-family: Microsoft YaHei; }
    .container.leader .ui-right-content .user-text {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding: 0 20px 0 38px; }
      .container.leader .ui-right-content .user-text p {
        font-size: 15px;
        color: #000000;
        text-indent: 2em;
        line-height: 1.7; }
      .container.leader .ui-right-content .user-text img {
        width: 110px;
        float: right;
        margin-top: 20px; }
  .container.group .ui-right-content p {
    text-align: center;
    font-size: 18px;
    color: #000;
    padding: 45px 0;
    font-weight: bold; }
  .container.group .ui-right-content img {
    width: 878px; }
  .container.ui-user-list .ui-right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .container.ui-user-list .ui-right-content .user-info img {
      width: 204px;
      height: 296px;
      margin-bottom: 10px; }
    .container.ui-user-list .ui-right-content .user-info p {
      color: #0d0d0d;
      text-align: center;
      font-size: 18px; }
    .container.ui-user-list .ui-right-content .user-info.small {
      width: 33.33%;
      text-align: center; }
      .container.ui-user-list .ui-right-content .user-info.small img {
        width: 127px;
        height: 184px; }
      .container.ui-user-list .ui-right-content .user-info.small p {
        font-size: 12px; }
  .container.newslist .ui-right-content {
    display: block; }
    .container.newslist .ui-right-content .list-box {
      padding: 10px 70px;
      min-height: 400px; }
      .container.newslist .ui-right-content .list-box .list-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 8px 0; }
        .container.newslist .ui-right-content .list-box .list-item .name {
          width: 650px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .container.newslist .ui-right-content .list-box .list-item .name .icon-right {
            display: inline-block;
            width: 8px;
            height: 8px;
            background: url("../images/icon-right.png") no-repeat 0 0/100% 100%;
            margin-right: 3px;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
          .container.newslist .ui-right-content .list-box .list-item .name p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
    .container.newslist .ui-right-content .page-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .container.newslist .ui-right-content .page-box .item {
        display: block;
        padding: 8px 14px;
        border: 1px solid #e1e1e1;
        color: #333;
        margin-right: 5px;
        cursor: pointer; }
        .container.newslist .ui-right-content .page-box .item.on {
          background: #1258ad;
          border-color: #1258ad;
          color: #fff; }
  .container.newsdetail .ui-right-content {
    display: block;
    padding: 20px 110px; }
  .container.newsdetail .title {
    color: #333;
    font-size: 28px;
    text-align: center; }
  .container.newsdetail .time {
    padding: 15px 0;
    color: #999;
    font-size: 14px;
    text-align: center; }
  .container.newsdetail .text {
    font-size: 14px;
    line-height: 2;
    color: #666; }
  .container.newsdetail .line {
    border-top: 1px solid #ddd;
    margin-bottom: 10px; }
  .container.about .ui-right-content p {
    text-indent: 2em;
    padding: 20px 110px 0;
    line-height: 26px;
    font-size: 15px;
    color: #000; }

.content {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid #dedede; }
  .content.index .news-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0; }
    .content.index .news-box .swiper-container {
      width: 450px;
      height: 350px; }
      .content.index .news-box .swiper-container .swiper-pagination {
        text-align: right;
        padding-right: 10px; }
        .content.index .news-box .swiper-container .swiper-pagination .swiper-pagination-bullet {
          border-radius: 0; }
      .content.index .news-box .swiper-container .swiper-slide {
        position: relative; }
        .content.index .news-box .swiper-container .swiper-slide p {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.2);
          color: #fff;
          padding: 10px; }
    .content.index .news-box .news-info {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding-left: 30px; }
      .content.index .news-box .news-info .news-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .content.index .news-box .news-info .news-nav a {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          color: #575151;
          background: #e9e9e9;
          padding: 10px 0;
          text-align: center;
          cursor: pointer; }
          .content.index .news-box .news-info .news-nav a.on {
            background: #fff;
            border-top: 2px solid #e81f2f; }
    .content.index .news-box .news-list {
      padding-top: 20px;
      height: 280px;
      overflow: hidden; }
      .content.index .news-box .news-list .news-list-item {
        padding: 10px 0;
        vertical-align: middle;
        line-height: 1.6;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer; }
        .content.index .news-box .news-list .news-list-item i.icon-right {
          display: inline-block;
          width: 8px;
          height: 8px;
          background: url("../images/icon-right.png") no-repeat 0 0/100% 100%;
          margin: 6px 3px 0 0; }
        .content.index .news-box .news-list .news-list-item i.icon-new {
          display: inline-block;
          width: 30px;
          height: 15px;
          background: url("../images/icon-new.png") no-repeat 0 0/100% 100%;
          margin-left: 3px; }
        .content.index .news-box .news-list .news-list-item div {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
        .content.index .news-box .news-list .news-list-item p.time {
          padding: 0 40px 0 30px;
          color: #a19f9b; }
    .content.index .news-box .btn-more {
      float: right;
      margin-right: 40px;
      color: #a19f9b; }
