// ------------------------------------------------------------
// Base: Mixin
// ------------------------------------------------------------
@mixin max-screen($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}
@mixin min-screen($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin fn-box-shadow($shadow...) {
	@if length($shadow) < 1 {
		$shadow: none;
	}
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin fn-border-radius($radius:0) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin fn-tbl {
    display: table !important;
    width: 100%;
    table-layout: fixed;
}
@mixin fn-tblcell {
    display: table-cell !important;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
@mixin fn-text-ellipsis {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
@mixin fn-text-ellipsis2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

// ------------------------------------------------------------
// Base: Function
// ------------------------------------------------------------
//去掉一个值的单位，如12px => 12
@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

//PX转换REM
@function pxTorem($target-size, $context:$baseRootFontSize) {
	@if not unitless($target-size) {
		$target-size: strip-units($target-size);
	}
	@if not unitless($context) {
		$context: strip-units($context);
	}
	@return (($target-size / $context) * 1rem)/2;
}