.missiondetail {
  background: #fff; }
  .missiondetail .mui-content {
    background: #fff; }
    .missiondetail .mui-content .mission-info {
      padding: 30px 30px;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px dashed #E1E1E1;
      line-height: 1; }
      .missiondetail .mui-content .mission-info p {
        color: #9e9e9e;
        font-size: 20px;
        margin-bottom: 20px; }
        .missiondetail .mui-content .mission-info p:last-child {
          margin: 0; }
      .missiondetail .mui-content .mission-info .left {
        flex: 3; }
        .missiondetail .mui-content .mission-info .left div {
          height: 60px;
          display: flex;
          align-items: baseline; }
          .missiondetail .mui-content .mission-info .left div p {
            line-height: 30px;
            margin: 0 10px 0 0; }
        .missiondetail .mui-content .mission-info .left p.name {
          width: 400px;
          color: #1f1f1f;
          font-size: 30px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .missiondetail .mui-content .mission-info .left p.price span {
          color: #ce0000;
          font-size: 30px; }
        .missiondetail .mui-content .mission-info .left p.deposit:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 32px;
          height: 32px;
          margin-right: 5px;
          background: url(../images/missionlist/icon-money.png) no-repeat 0 0/100% 100%; }
        .missiondetail .mui-content .mission-info .left p.adress {
          display: flex;
          align-items: baseline; }
          .missiondetail .mui-content .mission-info .left p.adress:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 32px;
            background: url(../images/missionlist/icon-location.png) no-repeat 0 0/100% 100%; }
          .missiondetail .mui-content .mission-info .left p.adress span {
            margin-left: 10px;
            font-size: 22px; }
            .missiondetail .mui-content .mission-info .left p.adress span.address-overflow {
              margin: 0;
              display: inline-block;
              width: 200px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
            .missiondetail .mui-content .mission-info .left p.adress span em {
              color: #ff4601;
              font-style: normal; }
      .missiondetail .mui-content .mission-info .right {
        flex: 1;
        text-align: right; }
        .missiondetail .mui-content .mission-info .right p.rob span {
          color: #1f1f1f;
          font-size: 30px; }
    .missiondetail .mui-content .switch {
      display: flex;
      margin: 20px 80px 40px; }
      .missiondetail .mui-content .switch a {
        flex: 1;
        text-align: center;
        padding: 12px 0;
        color: #ee4242;
        border: 2px solid #d9dce6;
        font-size: 30px; }
        .missiondetail .mui-content .switch a:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px; }
        .missiondetail .mui-content .switch a:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-left: 0; }
        .missiondetail .mui-content .switch a.active {
          color: #fff;
          background: #EF5050;
          border-color: #ef5050; }
    .missiondetail .mui-content .mission-require {
      display: none;
      padding: 0 35px; }
      .missiondetail .mui-content .mission-require p.title {
        color: #3d3d3d;
        font-size: 30px;
        padding: 35px 0 25px 0; }
      .missiondetail .mui-content .mission-require p.info {
        color: #7c7c7c;
        font-size: 26px;
        line-height: 1.2; }
      .missiondetail .mui-content .mission-require img {
        width: 100%; }
    .missiondetail .mui-content .business-rob .business-info > div {
      position: relative;
      padding: 15px 35px;
      border-bottom: 2px dashed #E1E1E1; }
      .missiondetail .mui-content .business-rob .business-info > div img {
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        width: 95px;
        height: 95px; }
      .missiondetail .mui-content .business-rob .business-info > div div {
        padding: 0 145px 0 110px; }
        .missiondetail .mui-content .business-rob .business-info > div div p {
          line-height: 1;
          font-size: 24px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          .missiondetail .mui-content .business-rob .business-info > div div p.name {
            color: #252525;
            font-weight: bold; }
          .missiondetail .mui-content .business-rob .business-info > div div p em {
            margin-left: 20px;
            font-style: normal; }
          .missiondetail .mui-content .business-rob .business-info > div div p span {
            color: #ff0000;
            font-size: 28px;
            font-weight: bold; }
      .missiondetail .mui-content .business-rob .business-info > div a.btn-detail {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 135px;
        height: 50px;
        color: #252525;
        padding: 12px;
        font-size: 26px;
        border: 2px solid #E1E1E1;
        white-space: nowrap; }
    .missiondetail .mui-content .business-rob .info-box {
      padding: 0 35px; }
      .missiondetail .mui-content .business-rob .info-box p.title {
        font-size: 36px;
        color: #ed3c3c;
        padding: 50px 0;
        text-align: center; }
      .missiondetail .mui-content .business-rob .info-box .input-box {
        margin-bottom: 20px; }
        .missiondetail .mui-content .business-rob .info-box .input-box.flex-box {
          display: flex;
          align-items: center; }
        .missiondetail .mui-content .business-rob .info-box .input-box p {
          color: #6f6f6f;
          font-size: 26px;
          white-space: nowrap; }
        .missiondetail .mui-content .business-rob .info-box .input-box input {
          width: 200px;
          border: 0;
          border-bottom: 2px solid #E1E1E1;
          font-size: 26px; }
      .missiondetail .mui-content .business-rob .info-box .uploadbox {
        position: relative;
        margin: 15px 0;
        padding-left: 150px; }
        .missiondetail .mui-content .business-rob .info-box .uploadbox a {
          display: inline-block;
          padding: 10px 50px;
          background: #ef5050;
          color: #fff;
          font-size: 22px;
          font-weight: bold;
          border-radius: 5px; }
        .missiondetail .mui-content .business-rob .info-box .uploadbox input[type=file] {
          position: absolute;
          width: 188px;
          height: 100%;
          top: 0;
          left: 150px;
          opacity: 0; }
      .missiondetail .mui-content .business-rob .info-box textarea {
        height: 200px; }
    .missiondetail .mui-content .business-rob .btn-gray {
      width: calc(100% - 70px); }
