.usercenter {
  background: #fff; }
  .usercenter .mui-content .company-info {
    position: relative;
    width: 100%;
    height: 320px;
    background: url(../images/noticelist/noticelist.jpg) no-repeat 0 0/100% 100%; }
    .usercenter .mui-content .company-info img {
      width: 180px;
      height: 120px; }
    .usercenter .mui-content .company-info a.back-companypage {
      position: absolute;
      top: 30px;
      right: 0px;
      color: #f60000;
      font-size: 20px;
      padding: 5px 15px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background: rgba(255, 255, 255, 0.5); }
    .usercenter .mui-content .company-info .company-detail {
      display: flex;
      padding: 150px 0 0 20px; }
      .usercenter .mui-content .company-info .company-detail div p {
        padding: 10px 0 0 20px;
        font-size: 22px;
        color: #fff; }
        .usercenter .mui-content .company-info .company-detail div p.name {
          color: #e30018;
          font-size: 36px;
          font-weight: bold; }
        .usercenter .mui-content .company-info .company-detail div p.deal span:last-child {
          margin-left: 30px; }
        .usercenter .mui-content .company-info .company-detail div p.address:before {
          content: '';
          display: inline-block;
          width: 16px;
          height: 24px;
          background: url(../images/noticelist/icon-address.png) no-repeat 0 0/100% 100%;
          vertical-align: text-bottom;
          margin-right: 10px; }
  .usercenter .mui-content .menu-list ul {
    padding: 0;
    margin-top: 20px; }
    .usercenter .mui-content .menu-list ul li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 20px 20px 10px;
      border-bottom: 2px solid #E1E1E1;
      background: #fff; }
      .usercenter .mui-content .menu-list ul li p {
        width: 100%;
        font-size: 30px;
        color: #444;
        margin: 0;
        text-align: left;
        padding-left: 25px; }
      .usercenter .mui-content .menu-list ul li i {
        display: block;
        width: 47px;
        height: 60px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center; }
        .usercenter .mui-content .menu-list ul li i.icon-setting {
          background-image: url(../images/usercenter/icon-setting.png); }
        .usercenter .mui-content .menu-list ul li i.icon-area {
          background-image: url(../images/usercenter/icon-area.png); }
        .usercenter .mui-content .menu-list ul li i.icon-bell {
          background-image: url(../images/usercenter/icon-bell.png); }
        .usercenter .mui-content .menu-list ul li i.icon-changepwd {
          background-image: url(../images/usercenter/icon-changepwd.png); }
        .usercenter .mui-content .menu-list ul li i.icon-lab {
          background-image: url(../images/usercenter/icon-lab.png); }
        .usercenter .mui-content .menu-list ul li i.icon-message {
          background-image: url(../images/usercenter/icon-message.png); }
        .usercenter .mui-content .menu-list ul li i.icon-order {
          background-image: url(../images/usercenter/icon-order.png); }
        .usercenter .mui-content .menu-list ul li i.icon-pen {
          background-image: url(../images/usercenter/icon-pen.png); }
        .usercenter .mui-content .menu-list ul li i.icon-report {
          background-image: url(../images/usercenter/icon-report.png); }
        .usercenter .mui-content .menu-list ul li i.icon-arrow-right {
          background-image: url(../images/usercenter/icon-arrow-right.png); }
  .usercenter .mui-content .new-project {
    display: block;
    background: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 0 35px 35px; }
    .usercenter .mui-content .new-project p.title {
      display: inline-block;
      padding: 20px 80px;
      color: #2d2d2d;
      font-size: 30px;
      border: 1px solid #b0b0b0;
      margin: 60px 0 40px 0; }
    .usercenter .mui-content .new-project .project-info {
      display: flex;
      align-items: center; }
      .usercenter .mui-content .new-project .project-info .left {
        flex: 2; }
        .usercenter .mui-content .new-project .project-info .left p {
          color: #bbb;
          font-size: 24px;
          line-height: 1;
          text-align: left; }
          .usercenter .mui-content .new-project .project-info .left p.name {
            color: #373737;
            font-size: 28px;
            width: 400px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          .usercenter .mui-content .new-project .project-info .left p.price span {
            color: #df4343;
            font-size: 28px; }
          .usercenter .mui-content .new-project .project-info .left p.anthor {
            width: 400px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
      .usercenter .mui-content .new-project .project-info .right {
        flex: 1;
        text-align: right; }
        .usercenter .mui-content .new-project .project-info .right i.icon-success {
          display: inline-block;
          width: 100px;
          height: 57px;
          background: url(../images/usercenter/icon-success.png) no-repeat 0 0/100% 100%; }
